.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body {
  font-family: 'Poppins', sans-serif;
  background-color:bisque;
  line-height: 1.6;

}

#omelette{
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

p{
  font-size: 16px;
}

.container{
  justify-content: center;
  align-items: center;  
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: white;
  border-radius: 20px;
  margin-top: auto;
  margin-left: 20%;
  margin-right: 20%;
}

.PreparationDiv{
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 120, 102, 0.062);;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  border-radius: 20px;
}